numpy==1.25.2
pandas==2.3.3
scipy==1.11.2
matplotlib==3.7.2
statsmodels==0.14.6
scikit-learn==1.3.0
tensorflow==2.10.0
keras==2.10.0
timeseries-cv==0.1.5
joblib==1.3.2
fastapi==0.128.8
pydantic==2.13.3
uvicorn==0.39.0
httpx==0.28.1
gdown==5.2.2